<ion-header>
  <ion-navbar color="dark">
    <ion-title>HOME</ion-title>
  </ion-navbar>
  <ion-searchbar
       (ionInput)="searchGamerTags($event)"
       (ionClear)="clearText()"
       placeholder="Search">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="green">
      Xbox
    </ion-list-header>
    <button ion-item *ngFor="let item of items[0]" (click)="itemSelected(item)">
      {{ item.text }}
      <ion-badge item-right>{{item.notif}}</ion-badge>
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header color="blue">
      PlayStation
    </ion-list-header>
    <button ion-item *ngFor="let item of items[1]" (click)="itemSelected(item)">
      {{item.text}}
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header color="purple">
      Steam
    </ion-list-header>
    <button ion-item *ngFor="let item of items[2]" (click)="itemSelected(item)">
      {{item.text}}
    </button>
  </ion-list>

</ion-content>
