<ion-header>
  <ion-navbar color="dark">
    <ion-title>Xbox</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="green">
      Xbox
    </ion-list-header>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item.text }}
      <ion-badge item-right>{{item.notif}}</ion-badge>
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header color="blue">
      PlayStation
    </ion-list-header>
    <button ion-item *ngFor="let item of psnames" (click)="itemSelected(item)">
      {{item.text}}
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header color="purple">
      Steam
    </ion-list-header>
    <button ion-item *ngFor="let item of steamnames" (click)="itemSelected(item)">
      {{item.text}}
    </button>
  </ion-list>

</ion-content>
